<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
    <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
   <div id="bar-chart"></div>
   <script th:inline="javascript">
       $(document).ready(function(){
            var chartData = /*[[${chartDataJSON}]]*/ "";
            if (chartData) {
                var el = document.getElementById('bar-chart');
                var options = {
                    chart: { title: '사용자별 게시글의 수', width: 900, height: 300 }
                };
                console.log(chartData);
                var bar_chart = toastui.Chart.barChart({
                    el: el,
                    data: JSON.parse(chartData), // Parse the JSON data here
                    options: options
                });
                bar_chart.showSeriesDataLabel();
              }
       });
   </script>
</body>
</html>